<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= subject %></title>
  </head>
  <body>
    <div>
      <h3>
        Hello, <%= firstName %> Please confirm your account by clicking on the
        link below
      </h3>
      <p>
        <a href="<%=url%>" style="color: #00aff5" target="_blank"> Verify</a>
      </p>
    </div>
  </body>
</html>
